* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: #c5c5d8;
  min-height: 100vh;
}
.player {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15em;
}

/* @media only screen and (max-width:350px)
{
.player{
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15em;
  width:20em; 
}

} */

.container {
  position: relative;
  box-shadow: 0 0 10px rgb(17, 17, 17);
  border-radius: 20px 20px 10px 10px;
  height: 200px;
  width: 30em;
  z-index: 999;
  overflow: hidden;
  background-color: #c5c5d8;
}

marquee {
  width: 100%;
  text-shadow: 0 0 5px black;
  text-align: center;
  margin-left: -1em;
}

@media only screen and (max-width: 350px) {
  marquee {
    width: 50%;
  }
}
.controls {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5em;
  margin-top: 7.5em;
}

button {
  box-sizing: border-box;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 8em; */
  border: none;
  background-color: inherit;
  margin: 120px 10px;
  padding: 9px;
  cursor: pointer;
}
@media only screen and (max-width: 350px) {
  button {
    box-sizing: border-box;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: inherit;
    margin: 120px 4px;
    padding: 9px;
    cursor: pointer;
  }
}

button:focus {
  outline: none;
}

.fas:hover {
  color: #00ffff;
}

.big {
  border: 2px solid #adadad;
  box-sizing: border-box;
  border-radius: 100%;
  box-shadow: -4px 4px 5px #a4a4b3, 4px -4px 5px #e6e6fd;
}
.border1 {
  box-sizing: border-box;
  border: 2px solid rgb(0, 255, 250);
  box-shadow: 0 0 4px rgb(0, 255, 250);
}

.decorate {
  border-radius: 156px;
  background: #c5c5d8;
  box-shadow: -4px 4px 5px #a4a4b3, 4px -4px 5px #e6e6fd;
}

.title {
  position: absolute;
  font-family: "century gothic";
  color: #fff;
  font-weight: 500;
  margin-top: 50px;
  font-size: 1.1em;
  width: 100%;
}
#poster-shadow {
  box-shadow: 1px -1px 10px;
}

.forborder {
  position: absolute;
  overflow: hidden;
  margin-top: 0px;
  padding-top: 0px;
  background-color: #53535c;
  width: 100%;
  height: 40%;
}
.active {
  box-shadow: 1px 2px 5px #00ffff;
}
#playlist {
  padding: 25px 20px 10px 20px;
  width: 26.9em;
  height: 0px;
  border-radius: 10px;
  background: #53535c;
  transition: all 0.5s ease-in-out;
}
.list-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 13.8em;
}

#playlist.active {
  height: 10em;
  box-shadow: 0px 2px 10px;
  overflow: auto;
  background: #6d6d7a;
}
button.play-list-btn {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

button.volumet-btn {
  width: 30px;
  height: 30px;
  padding: 20px;
}

#playlist li {
  display: block;
  list-style: none;
  font-family: "century Gothic";
  padding: 10px 0;
  margin-top: 0;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  visibility: hidden;
}

#playlist li:hover {
  color: #fff;
  background-color: inherit;
  padding-left: 35px;
  box-shadow: 2px 2px 4px #000;
  width: 103%;
  margin-left: -30px;
  text-shadow: 0 0 4px #000000;
}

#playlist.active li {
  visibility: visible;
}

#playlist::-webkit-scrollbar {
  appearance: none;
  /* width: 15px; */
}

#playlist::-moz-scrollbar {
  appearance: none;
}
#playlist::-ms-scrollbar {
  appearance: none;
}
ul::-webkit-scrollbar-track {
  background-color: #5d5d64;
  border-radius: 50px;
}
ul::-moz-scrollbar-track {
  background-color: #5d5d64;
  border-radius: 50px;
}
ul::-ms-scrollbar-track {
  background-color: #5d5d64;
  border-radius: 50px;
}
ul::-webkit-scrollbar-thumb {
  background-color: #9a9aad;
  border-radius: 50px;
}
ul::-webkit-scrollbar-thumb:active {
  background-color: #7c7c8f;
  border-radius: 50px;
}

input[type="range"]#slider {
  position: absolute;
  width: 14%;
  -webkit-appearance: none;
  height: 7px;
  border-radius: 50px;
  left: 30.2em;
  outline: none;
  background-color: #c5c5d8;
  box-shadow: inset -1px -1px 1px #fff, inset 1px 1px 1px #000;
  margin-top: -5px;
  visibility: hidden;
  cursor: pointer;
  transform: rotate(-90deg);
}

@media screen and (max-width: 350px) {
  input[type="range"]#slider {
    position: absolute;
    width: 17%;
    -webkit-appearance: none;
    height: 7px;
    border-radius: 50px;
    left: 20em;
    outline: none;
    background-color: #c5c5d8;
    box-shadow: inset -1px -1px 1px #fff, inset 1px 1px 1px #000;
    top: 60px;
    visibility: hidden;
    cursor: pointer;
    transform: rotate(-180deg);
  }
}
/* for chrome browser */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 4px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #acaaaa;
  box-shadow: 2px 2px 5px #626262, -5px -5px 10px #ffffff;
  cursor: pointer;
}

#seeker {
  position: absolute;
  background-color: #c5c5d8;
  box-shadow: inset 1px 1px 1.5px #000, inset -1px -1px 1.5px #fff;
  border-radius: 50px;
  width: 300px;
  height: 9px;
  top: -1em;
}
@media screen and (max-width: 350px) {
  #seeker {
    position: absolute;
    background-color: #c5c5d8;
    box-shadow: inset 1px 1px 1.5px #000, inset -1px -1px 1.5px #fff;
    border-radius: 50px;
    width: 230px;
    height: 9px;
    top: -1em;
  }
}

#seeker:focus {
  outline: none;
}
.fill-bar {
  background-color: #00ffff;
  border-radius: 50px;
  width: 0%;
  height: 7px;
  margin-top: 1px;
}
.thumb {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #616a72;
  box-shadow: 0px 0px 3px black;
  border-radius: 100%;
  top: -2.9px;
  margin-left: 0%;
}
.thumb:hover {
  box-sizing: border-box;
  box-shadow: 0px 0px 3px #00ffff;
  border: 3px solid #00ffff;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.thumb:active {
  background-color: #fff;
  /* scale: 99%; */
}

.fa-3x {
  font-size: 2.5em;
}
.fa-2x {
  font-size: 1.2em;
}
